<head>
    <!--Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet"> 

  
</head>

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success
  " styles="background-color: blue !important;">
    <a class="navbar-brand" href="/urls" 
    style="font-family:Rajdhani, sans-serif; font-size: 55px; color: #000000">TinyApp</a>
    <button
    style="font-family:Rajdhani;"
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls" 
        style="font-family:Rajdhani; font-size: 24px; color: #000000"; font-weight: bold;" >My URLs</a>
        <a class="nav-item nav-link" href="/urls/new"
        style="font-family:Rajdhani; font-size: 24px; color: #000000"
        >Create New URL</a>
      </div>
 
          <% if (!user) { %>
        <div class="d-flex navbar-nav align-items-center ml-auto">            
          <a class="nav-item nav-link"  style="font-family:Rajdhani; font-size: 24px; color: #000000" href="/register">Register</a>
          <a class="nav-item nav-link"  style="font-family:Rajdhani; font-size: 24px; color: #000000" href="/login">Login</a>
        </div>          
          <% } else { %>
         
        <div class="navbar-nav d-flex align-items-center justify-content-center ml-auto">
          <form class="d-flex align-items-center" action="/logout" method="POST"    
          style="
         width: 300px;
       display: flex;
       justify-content: space-between;
        ">
            <p 
            style="font-family:Rajdhani; font-size: 20px; color: #000000"
            >
              <b>Logged in as: </b>
              <%=user.email%>
            </p>
            <p>
            <button 
            style="
        
            border-color:#000000;
            color: #000000;
            font-family:Rajdhani;
            font-size: 22px;
          "
            type="submit" class="btn btn-outline-dark mx-2">
              LOGOUT
            </button>
           </p>
          </form>
        </div>          
          <% } %>
      </div>
    </div>
  </nav>
</header>