<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet"> 

  
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>Register</title>
  </head>

  <body>
    <%- include('partials/_header') %>

    <main
      style="
        margin: 1em;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <h3 style="font-family:Rajdhani; font-size: 40px">REGISTER</h3>
      <div
        style="
          border-radius: 20px;
          flex-direction: column;
          height: 50vh;
          width: 20vw;
          margin: 1rem;
          text-align: center;
          border: 3px dotted black;
        "
      >
        <form
          styles="display: flex; flex-direction: center; justify-content: center; text-align: center; height: 50vh"
          class="form-inline"
          action="/register"
          method="POST"
        >
          <label
            style="
              width: 300px;
              margin-top: 4em;
              margin-left: 1.5em;
              font-size: 20px;
              font-family:Rajdhani
            "
            >Email</label
          >
          <div>
            <input
              name="email"
              type="email"
              style="width: 300px; margin: 2em; font-family: Rajdhani, sans-serif; "
              
            />
          </div>

          <label
            style="
              width: 300px;
              margin-top: 1em;
              margin-left: 1.5em;
              font-size: 20px;
              font-family:Rajdhani
            "
            >Password</label
          >
          <input
            name="password"
            type="password"
            style="width: 300px; margin: 2em; font-family: Rajdhani, sans-serif; "
          />
          <button
            style="
              margin-left: 9em;
              margin-bottom: 2em;
              border: 1px solid black;
              background-color: white;
              color: black;
              font-family:Rajdhani
            "
            type="submit"
            class="btn btn-primary"
          >
            SUBMIT
          </button>
        </form>
      </div>
    </main>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
